@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply p-5
    }
    h1, h2, h3 {
        @apply text-2xl font-bold my-4
    }
    p {
        @apply text-sm my-2
    }
    a {
        @apply text-sm text-amber-700 underline;
    }
    table {
        @apply w-full
    }
    tr {
        @apply even:bg-gray-200 odd:bg-gray-100 hover:bg-gray-300
    }
    td {
        @apply p-1;
    }
    details {
        @apply text-sm;
    }
    li {
        @apply text-sm;
        list-style: disc inside;
    }
    button {
        @apply border border-gray-400 bg-gray-200 hover:bg-gray-300 px-2 py-1 font-bold text-sm
    }
}

html {
    background: #fff3e7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

.highlighted {
    background: orange;
}
