@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply p-5

    }
    h1 {
        @apply text-3xl font-bold
    }
    h2 {
        @apply text-2xl font-bold
    }
    h3 {
        @apply text-xl font-bold
    }
    a {
        @apply text-amber-500 underline;
    }
    tr {
        @apply even:bg-gray-200 odd:bg-gray-100 hover:bg-gray-300
    }
    td {
        @apply p-2
    }
    li {
        list-style: disc inside;
    }
    button {
        @apply bg-orange-400 p-2 text-white font-bold
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.highlighted {
    background: orange;
}

@media (min-width: 768px) {
    body {
        width: 440px;
        margin: auto;
    }

    table, button {
        width:auto;
    }
}
