:root {
    --colour-primary: orange;
    --spacing-small: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

table {
    border-collapse: collapse;
}

td {
    padding: var(--spacing-small);
}

tr:nth-child(even) {
    background: #ddd;
}

tr:nth-child(odd) {
    background: #eee;
}

a {
    color: var(--colour-primary);
}

button {
    margin-bottom: 15px;
}

.highlighted {
    background: var(--colour-primary);
}
